
/* Este CSS contém o estilo dos botões. */

.botao-verde {
    display: flex;
    font-family:'Averia Libre';
    font-size: 30px;
    color: aliceblue;
    justify-content: center;
    border-radius: 10px;
    background-color: #37BD6D;
    padding: 5px 15px 5px 15px;
    border: none;
    cursor: pointer;
}

.botao-cinza {
    display: flex;
    font-family:'Averia Libre';
    font-size: 16px;
    color: white;
    width: 40%; 
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 5px 15px 5px 15px;
    border: none;
}

.botao-roxo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #312464;
    height: 20vw;
    width: 22vw;
    border-radius: 20px;
    border: none;
    font-family:'Averia Libre';
    font-size: 30px;
    color: aliceblue;
}

.botao-roxo svg {
    margin-bottom: 1.8vh;
}

#botao-apagar {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #F57F7F;
}

.botao-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    height: 40vh;
    width: 22vw;
    font-size: 5vh;
    border-radius: 15px;
    border: none;
    font-family:'Averia Libre';
    font-size: 30px;
    color: aliceblue;
    margin: 0px 50px 0px 50px;
}

.botao-home-secao-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    padding-top: 30px;
}

.botao-home-secao-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30%;
}

.botao-coleta {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-home-titulo {
    color: #3F92C5;
    font-size: 30px;
}

.botao-home-data {
    color: grey;
    font-size: 20px;
}