#container-home {
    position: relative;
    top: calc(50vh - 20vh);
    height: 42vh;
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 100px 0px 100px;
    overflow-x: scroll;
}

#container-home::-webkit-scrollbar {
    height: 10px;
}
  
#container-home::-webkit-scrollbar-thumb {
    background-color: transparent;
}