
/* Este CSS contém o estilo do conteiner-2, que é uma retangulo transparente
sem bordas, utilizado na maioria das páginas acoes-pesquisa, coleta e
agradecimento-participacao. */

#container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#container-2 a {
    color: aliceblue;
}

.container-2-titulo {
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 46px;
}

.container-2-conteudo {
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-2-conteudo a {
    color: aliceblue;
    font-size: 46px;
}

.container-2-texto-ao-lado {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: flex-end;
    font-size: 16px;
    color: #888888;
    position: absolute;
    right: 40px;
}

.container-2-legenda-grafico {
    display: flex;
    flex-direction: column;
}

.container-2-legenda-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.container-2-legenda-item-cor {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}