
/* Este CSS contém o estilo padrão do header da maioria das páginas. */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-secao-logo {
    margin-left: 30px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

#header-secao-logo svg {
    margin: 5px 15px 5px 5px;
}

#icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#header-secao-direita {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sair {
    justify-content: flex-end;
}