@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

.login {

    width: 45%;
    height: 65%;
    font-size: 35px;
    position: relative;
    top: 20%;
    left: 25%;
    border: 2px solid gray;
    border-radius: 25px;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    position: relative;
    top: -5%;
    width: 500px;
    padding-bottom: 10%;
}

input{
    font-family:'Averia Libre';
    font-size: 25px;
    height: 35px;
    width: 500px; 
}

.esqueci__senha {
    display: flex;
    padding-top: 15px;
    justify-content: right;
    font-size: large;
}

.login__email {
    margin: 0%;
}
.login__senha {
    margin-top: 0%;
    margin-bottom: 0%;
}

.login__fazerlogin {
    position: relative;
    margin-top: 10%;
}

.links__embaixo {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.entrar {
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid #37BD6D;
    border-radius: 10px;
    width: 130px;
    background-color: #37BD6D;
}
